.quit {
    -fx-background-color: #2b2b2b;
    -fx-background-radius: 300;
}

.quit:hover {
    -fx-background-color: #e84033;
    -fx-background-radius: 300;
}

.quit:pressed {
    -fx-background-color: #cc0000;
    -fx-background-radius: 300;
}

.refresh {
    -fx-background-color: #2b2b2b;
    -fx-background-radius: 300;
}

.refresh:hover {
    -fx-background-color: #bbdefb;
    -fx-background-radius: 300;
}

.refresh:pressed {
    -fx-background-color: #87c5f8;
    -fx-background-radius: 300;
}

.radar {
    -fx-background-color: #2b2b2b;
    -fx-background-radius: 300;
}

.radar:hover {
    -fx-background-color: #5a9570;
    -fx-background-radius: 300;
}

.radar:pressed {
    -fx-background-color: #4d8060;
    -fx-background-radius: 300;
}

.locations {
    -fx-background-color: #2b2b2b;
    -fx-background-radius: 300;
}

.locations:hover {
    -fx-background-color: #89c1ed;
    -fx-background-radius: 300;
}

.locations:pressed {
    -fx-background-color: #3798e1;
    -fx-background-radius: 300;
}

.options {
    -fx-background-color: #2b2b2b;
    -fx-background-radius: 300;
}

.options:hover {
    -fx-background-color: #494d50;
    -fx-background-radius: 300;
}

.options:pressed {
    -fx-background-color: #313335;
    -fx-background-radius: 300;
}

.choice-box .context-menu { -fx-background-color: #3c3f41; }
.choice-box .menu-item:focused { -fx-background-color: orange; }
.choice-box .menu-item > .label { -fx-text-fill: #bbbbbb; }
.choice-box .menu-item:focused > .label { -fx-text-fill: #3c3f41; }
.choice-box {
   -fx-background-color: #3c3f41;
   -fx-mark-color: #ffffff; // arrow color
}

.choice-box > .label { -fx-text-fill: #bbbbbb; }